PORT=8080
NODE_ENV=development
JWT_SECRET=freshmart_super_secure_jwt_secret_2026
SESSION_COOKIE_NAME=sjh_session
OWNER_EMAIL=piyushverma730929@gmail.com
GOOGLE_CLIENT_ID=880806707459-ci9gcf8sni1h6u0gmd1qtp96mg2u9l9g.apps.googleusercontent.com
CORS_ORIGIN=*
DATA_DIR=../data
